.myBackgroundStyle {
	background-image: url("../img/ml_robot.jpg"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-home {
	font-size: 1.25em !important;
	color: #FFF !important;
}

.italic {
	font-style: italic !important;
}

.bold {
	font-weight: bold !important;
}

.underline {
	text-decoration: underline !important;
}

.justify {
	text-align: justify !important;
}