doctype html
html
  head
    title= title
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    style(type="text/css").
        html {
            height: 100%;
        }
        body {
            border-top: 4px solid #427CAC;
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            background: #ABC5DF;
            background: -moz-linear-gradient(top, #ABC5DF 0%, #C8D8E7 51%, #E4EAEF 100%);
            background: -webkit-linear-gradient(top, #ABC5DF 0%,#C8D8E7 51%,#E4EAEF 100%);
            background: linear-gradient(to bottom, #ABC5DF 0%,#C8D8E7 51%,#E4EAEF 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ABC5DF", endColorstr="#E4EAEF", GradientType=0);
        }
        a {
            color: #00B7FF;
            margin-top: 10px;
        }
        form {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        form .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;

        }
        form input {
            margin-bottom: 10px;
        }
        button {
            margin-top: 50px;
        }
        .wall {
            border-radius: 10px;
            margin-top: 20px;
            padding: 40px 0px 20px 0px;
            background-color: rgba(255, 255, 255, 0.3);
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        }
        .title {
            color: #555;
            font-size: 18px;
            font-weight: 400;
            display: block;
        }
        p.error-message {
            margin-top: 10px;
            color: red;
        }
  body
    block content
